[submodule "m4"]
	path = m4
	url = https://github.com/InnovAnon-Inc/m4-common.git
[submodule "glitter"]
	path = glitter
	url = https://github.com/InnovAnon-Inc/glitter.git
[submodule "CPAQ"]
	path = CPAQ
	url = https://github.com/InnovAnon-Inc/CPAQ.git
[submodule "MultiMalloc"]
	path = MultiMalloc
	url = https://github.com/InnovAnon-Inc/MultiMalloc.git
[submodule "PArray"]
	path = PArray
	url = https://github.com/InnovAnon-Inc/PArray.git
[submodule "swap"]
	path = swap
	url = https://github.com/InnovAnon-Inc/swap.git
[submodule "StD"]
	path = StD
	url = https://github.com/InnovAnon-Inc/StD.git
