[submodule "m4"]
	path = m4
	url = https://github.com/InnovAnon-Inc/m4-common.git
[submodule "restart"]
	path = restart
	url = https://github.com/InnovAnon-Inc/restart.git
[submodule "ThIpe"]
	path = ThIpe
	url = https://github.com/InnovAnon-Inc/ThIpe.git
[submodule "TSCPAQ"]
	path = TSCPAQ
	url = https://github.com/InnovAnon-Inc/TSCPAQ.git
[submodule "swap"]
	path = swap
	url = https://github.com/InnovAnon-Inc/swap.git
