[submodule "m4"]
	path = m4
	url = https://github.com/InnovAnon-Inc/m4-common.git
[submodule "glitter"]
	path = glitter
	url = https://github.com/InnovAnon-Inc/glitter.git
[submodule "restart"]
	path = restart
	url = https://github.com/InnovAnon-Inc/restart.git
[submodule "ThIpe"]
	path = ThIpe
	url = https://github.com/InnovAnon-Inc/ThIpe.git
[submodule "TSCPAQ"]
	path = TSCPAQ
	url = https://github.com/InnovAnon-Inc/TSCPAQ.git
[submodule "CPAQ"]
	path = CPAQ
	url = https://github.com/InnovAnon-Inc/CPAQ.git
